/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #1f7b81;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .search-box button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  /* Hero Section */
  .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .hero-content h2 {
    font-size: 32px;
  }
  
  .hero-content p {
    font-size: 18px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Products Section */
  .products {
    padding: 50px;
    text-align: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .product {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product h3 {
    margin-top: 10px;
  }
  
  .product p {
    margin-top: 10px;
  }
  
  /* Footer */
  footer {
    background-color: #1f7b81;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .product-list{
    display:grid;
  }
  .home-product-a:link,.home-product-a:visited,.home-product-a:hover,.home-product-a:active{
    text-decoration: none;
    color: black;
  }