<!DOCTYPE html>
<html>
<head>
  <title>BargainBay - About Us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="#">BargainBay</a>
      </div>
      <ul class="nav-links">
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/">Login</a></li>
      </ul>
    </nav>
  </header>

  <section class="about-section">
    <div class="about-container">
      <h2>About Us</h2>
      <p>Welcome to BargainBay, where we specialize in bringing you the best products and deals from around the world. With a passion for connecting consumers with high-quality items at affordable prices, we strive to create a seamless shopping experience for our customers. Our dedicated team works tirelessly to curate a diverse range of products, including electronics, fashion, home goods, and more. By leveraging our extensive network of trusted suppliers, we ensure that each item meets our stringent quality standards. Customer satisfaction is at the heart of our business, and we take pride in delivering exceptional service and value. Join us on this exciting retail journey and discover a world of incredible deals and endless possibilities.</p>
      <p>Welcome make some money.</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 BargainBay. All rights reserved.</p>
  </footer>

</body>
</html>
